

.foot-secction{
    padding: 20px 0;
    width: 100vw;

    margin-top: 30px;

    background: 
    linear-gradient(to right bottom, 
     #F72585,
     #480CA8);

}

.foot-text{
    width: 100%;
    text-align: center;
    color: #fff;
}

.foot-redes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.icons-foot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 50%;
}

.icons-foot a{
    padding: 10px 0;
    width: 45px;
    height: 25px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: 
    linear-gradient(to right bottom, 
     #4CC9F0,
     #480CA8);
    text-align: center;
    border-radius: 50%;
    transition: all ease-out 1s;
}

.icons-foot a:hover{
    transform: scale(1.2);
}

@media (min-width:480px){
    .icons-foot{

        width: 40%;
    }

}

@media (min-width:780px){
    .icons-foot{

        width: 20%;
    }

}