.bloque-Secction{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;


}

.bloque-dia{
    width: 100%;
}

.bloque-hora{
    margin-top: 5px;
    width: 45%;
}

.text-bloque-secction{
    margin-bottom: 5px;
}

