.bloque-Secction{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    color: #fff;


}

.bloque-dia{
    width: 100%;
}

.bloque-hora{
    margin-top: 5px;
    width: 45%;
}

.text-bloque-secction{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.icon-bloque{
    color: #F72585;
}


