.float-window{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;


}

.horario-secction-container{
    z-index: 11 ;
    top: 0;
    width: 90%;
    height: 90%;
    padding-bottom: 40px;
    border-radius: 16px;
    position: relative;
    background-color: #fff;
    overflow-y: auto;
    
    
}

.exit--button{
    color: #000;
}

.exit--button:hover{
    cursor: pointer;
}

.table--mobile::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #444444;
  }
      
  .table--mobile::-webkit-scrollbar {
    width: 6px;
    background-color: #444444;
  }
      
  .table--mobile::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F72585;
  }

.float-button-window{
    position: fixed;
    margin: 10px;
    z-index: 20;
}



.table--mobile{
    
    width: 100%;
    height: 70%;
    overflow: auto;
    
}

.informacion-horarioSecction{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    width: 92%;
    margin-left: 8%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    
    
}

.information-hs-icon{
    align-self: flex-start;
}

.download-buttons{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

}

.download-buttons button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    margin: 20px 10px;
    border: none;
    transition: all ease-in-out 0.5s; 
    
}

.download-buttons button:hover{
    transform: scale(1.08);
    cursor: pointer;
}


@media (min-width:780px){
    /* .table--mobile{

        width: 100%;
        height: auto;
        overflow: auto;
        
    } */

    .informacion-horarioSecction{
        margin-left: 4.5%;
    }

    .information-hs-icon{
        align-self: center;
    }
    
}

