.card-secction{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

@media (min-width:480px){
    .card-secction{
        justify-content: flex-start;
    }
}