
.table-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 1000px;
    height: 100%;
    
    
}

.table--item{
    margin-top: 40px;
    text-align: center;
    background-color: #fff;
    width: 90%;
    border: 1px solid #167F92;
    overflow: auto;
    
}

.table--item td, .table--item th{
    height: 30px;
}

.table--item td{
    border: 1px solid #D9E4E6;
    position: relative;
}

.table--item th{
    border: 1px solid #D9E4E6;
    background-color: #FFF;
    color: #024457;
}




.contenido-table{
    top:0%;
    left: 0;
    position: absolute;
    width: 100%;
    
    background-color: #167F92;
    z-index: 15;
    color: #D9E4E6;
}


@media (min-width:480px){
    .table-container{
        width: 90%;
        margin-left: 5%;
        
    }
    .table--item{
        margin-top: 40px;
        
        width: 90%;
        text-align: center;
        background-color: #fff;
        width: 1000px;
        border: 1px solid #167F92;
    
    
        
    }

}

